/* .container-h1 {
    @apply text-center font-bold tracking-wider;
    font-size: 34px;
    font-family: inherit;
    line-height: 40px;

    @screen md {
        font-size: 60px;
        line-height: 70px;
    }
}

.container-h2 {
    @apply text-center;
    font-size: 12px;
    font-family: inherit;
    font-weight: 500;


    @screen md {
        font-size: 15px;
    }
} */